{% extends 'ghost/base.html' %}

{% block title %}My Wishlist{% endblock %}

{% block content %}

<h2 class="mb-4">My Wishlist</h2>
<div class="row">
  {% for item in wishlist_items %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{ item.product.main_image_url }}" class="card-img-top" alt="{{ item.product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.product.name }}</h5>
          <p class="card-text">${{ item.product.price }}</p>
          <a href="{% url 'product_detail' item.product.id %}" class="btn btn-outline-dark">View</a>
        </div>
      </div>
    </div>
  {% empty %}
    <p>You have no items in your wishlist yet.</p>
  {% endfor %}

</div>
{% endblock %}
